<h1>ADD A SHOE STYLE</h1>

<% if @style.errors.any? %>
	<h3>Please fix these errors:</h3>
	<ul>
		<% @style.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	</ul>
<% end %>

<ul>
	<% @styles.each do |style| %>
		<li><a href="/styles/<%= style.id %>"><%= style.name %></a></li>
	<% end %>
</ul>

<form action="/styles/<%= @style.id %>" method="post">
  <%= render('form') %>
  <button>Add</button>
</form>
	
