<h1><%= @style.brand.name %></h1>

<h2><%= @style.name %></h2>
<p>Color: <%= @style.color %></p>
<p>Release Date: <%= @style.release_date %></p>
<p>Average Selling Price: <%= @style.price %></p>
<p>Info: <%= @style.content %></p>

<a href="/styles/<%= @style.id %>/edit"><button>Edit</button></a>

<p><a href="/styles/<%= @style.id %>"
      data-confirm="Are you sure you want to delete <%= @style.name %>?"
      data-method="delete"
      rel="nofollow">Delete</a></p>

<p><a href="/">Return to home page</a></p>

