<h1><%= @style.brand.name %></h1>

<h2><%= @style.name %></h2>
<p>Color: <%= @style.color %></p>
<p>Release Date: <%= @style.release_date %></p>
<p>Average Selling Price: <%= @style.price %></p>
<p>Info: <%= @style.content %></p>

