<h1><%= @brand.name %></h1>

<h4>List of grails:</h4>
<ul>
	<% @brand.styles.each do |style| %>
		<li><%= link_to style.name, style_path(style) %></li>
	<% end %>
</ul>

<p><%= link_to "Add a grail", new_style_path, :class => "btn btn-success btn" %></p>
<p><%= link_to "Delete this Brand", brand_path(@brand), :class => "btn btn-primary btn",
                                                        :data => {
                                                        :confirm => "Are you sure you want to delete #{@brand.name}, and all of it's styles?",
                                                        :method => "delete"
                                                        }%></p>

<p><%= link_to "Return home", brands_path %></p>
